<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URl Shortner</title>

<style>
    #url1 {
    font-size:60px;
    float:left;
    }

    input{
    float:left;
    }
</style>

</head>
<body>

<br>
<div class = "form_">
<form method="post" action="/send_data/">
    {% csrf_token %}
    <label for="url"><h1>URL : </h1></label>
    <input type="text" id="url" name="url"><br><br>
    <input type="submit">

</form>

{% if data_entered %}
<h1> Original : {{original_url}} </h1>
<br>
<h1> Short : {{short_url}} </h1>
{% endif %}
</div>

<div class = "form_">
<form method="post" action="/redirect_URL/">
    {% csrf_token %}
    <label for="short_url"><h1>Short URL : </h1></label>
    <input type="text" id="url2" name="short_url"><br><br>
    <input type="submit">

</form>
</div>
</body>

</html>